de_novo_assembly/test_assemblies/*
dbgwas/datasets/*
finetune/bacteria_model/*.pt
finetune/bacteria_model/*.json
finetune/bacteria_model/*.bin
finetune/bacteria_model/*.pth
finetune/dnabert2_env
finetune/finetune_data
finetune/outputs/*
finetune/DNABERT_2_to_delete
model/output
finetune/datasets/*
finetune/output/
data/train_data/*
data/test_data/*
de_novo_assembly/SPAdes-4.0.0-Linux
de_novo_assembly/contigs
de_novo_assembly/spades_output_isolate/*
de_novo_assembly/contigs_by_species/*
de_novo_assembly/spades_test
align
de_novo_assembly/test1
dbgwas/klebsiella_bak
dbgwas/klebsiella_pneumoniae/*
dbgwas/neisseria_gonorrhoeae/*
dbgwas/staphylococcus_aureus/*
dbgwas/salmonella_enterica/*
dbgwas/streptococcus_pneumoniae/*
dbgwas/old_scripts_to_delete
**/__pycache__
dbgwas/res.txt
model/amr_env
dbgwas/acinetobacter_baumannii/*
dbgwas/campylobacter_jejuni/*
dbgwas/escherichia_coli/*
dbgwas/pseudomonas_aeruginosa/*
dbgwas/trashme_3324456_dsk_partitions_gatb/*
model/klebsiella_pneumoniae/model_checkpoint.pt

